################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerManagementSystem/CustomerManagement.Web/.vs/CustomerManagement.Web/v16/Server/sqlite3
