/CustomerManagementSystem/CustomerManagement.Web/obj
/CustomerManagementSystem/CustomerManagement.Web/bin
/CustomerManagementSystem/.vs/CustomerManagementSystem/v16/Server/sqlite3/db.lock
/CustomerManagementSystem/.vs/CustomerManagementSystem/v16/Server/sqlite3
