################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerManagementSystem/.vs/CustomerManagementSystem/v16/Server/sqlite3
/CustomerManagementSystem/CustomerManagement.Web/obj
